h1 {font-family: georgia;
      text-align: center;}
.page-header {border-style: round;
background-color: white;
      width: 300px;
margin: 2px 2px 2px 2px;
padding: 4px 4px 4px 4px;}
body {font-family: arial; 
       background-image: url(https://cdn.hipwallpaper.com/i/42/35/DZoEJ6.png);
      background-repeat: no-repeat;
      margin: 50px 50px 50px 50px;
       text-align: center;}
h3 {font-family: arial;
     text-align: center;}
#paragraph-2 {border-syle: solid;
    border-width: 4px black;
      font-size: 14px;
padding: 2px 2px 2px 2px;}
.col-md-6 {background-color: white;
      width: 200px;
}
