h1 {font-family: georgia;
      text-align: center;}
body {font-family: arial; 
       background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRONDpyMsgyUz126D4wj-VCoZSZ5LDOHe4BPg&usqp=CAU);
       margin: 50px 50px 50px 50px;
       text-align: center;}
h3 {font-family: arial;
     text-align: center;}
p.container {border-syle: solid;
    border-width: 4px black;
      font-size: 14px;
padding: 2px 2px 2px 2px;}

