h1 {font-family: georgia;
      text-align: center:}
body {font-family: arial;
       background-image: img src:"Astronomy.jpg";
       margin: 50px 50px 50px 50px;
       text-align: center;}
h3 {font-family: arial;
     text-align: center;}
div {border: 5px solid black;
     font-size: 120%;
     padding: 10px 10px 10px 10px;
     margin:auto;}
tabble {background-colour: grey;
        padding: 2px 2px 2px 2px
        margin: auto;}



